body{
    padding: 15px 55px;
     background-color:violet; 
}
.formstyle input{
    padding: 6px 12px;
    border: 1px solid rgb(21, 20, 20);
    margin: 10px;
    border-radius: 5px;
}
.formerror{
    color: rgb(0, 0, 255);
}
#nameinput,#passinput{
    width: 100px;
}
.dropsize{
    padding: 50px;
}
#sex{
    width:auto;
    padding: 0px;
    margin: 1px;
}
textarea{
    resize: none;
    border: 1px solid rgb(136, 0, 255);
    border-radius: 5px;
}
.button{
    border-radius: 5px;
    width: 80px;
    height: 25px;
    font-size: 20px;
    margin: 22px 120px;
}
input[type="Submit"]{
    padding: 14px 222px;
    border: 1px solid rgb(0, 255, 132);
    border-radius: 10px;
    cursor:pointer;
    text-align: center;
    margin: 15px 130px;
}
